body {
  padding: 4em 2em; }

.btn {
  margin: 5px; }
  .btn__edit-icon {
    border: none; }

.centered {
  display: flex;
  align-items: center;
  flex-direction: column; }

input {
  margin-bottom: .5em;
  padding: 5px; }

input::-webkit-input-placeholder {
  color: #adbdd6 !important; }

ul {
  list-style: none; }

li {
  list-style: none; }

.capalaize {
  text-transform: capitalize; }

.word__page li h4 {
  margin: 0;
  display: inline-block; }

.word__page li button {
  margin-top: 0; }

.word__page--edit li div > label {
  margin-right: 5px;
  display: inherit; }

.word__list--buttons {
  display: flex;
  flex-direction: row; }
